USE [master]
GO
/****** Object:  Database [BD_LIBRERIA]    Script Date: 11/12/2024 02:43:51 p. m. ******/
CREATE DATABASE [BD_LIBRERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_LIBRERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_LIBRERIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_LIBRERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_LIBRERIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_LIBRERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_LIBRERIA]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[ID_Editorial] [int] IDENTITY(1,1) NOT NULL,
	[Editorial] [varchar](50) NOT NULL,
	[Visible] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Existencia]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Existencia](
	[ID_Existencia] [int] IDENTITY(1,1) NOT NULL,
	[Existencia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Existencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formato]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formato](
	[ID_Formato] [int] IDENTITY(1,1) NOT NULL,
	[Formato] [varchar](50) NOT NULL,
	[Visible] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Formato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[ID_Genero] [int] IDENTITY(1,1) NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[Visible] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_Libro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Libro] [varchar](50) NOT NULL,
	[Cantidad_Libros] [int] NOT NULL,
	[Fecha_Adicion] [date] NOT NULL,
	[Ann_Publicacion] [int] NOT NULL,
	[Precio] [decimal](5, 2) NOT NULL,
	[Autor] [varchar](50) NOT NULL,
	[Cantidad_Vendida] [int] NOT NULL,
	[ID_Genero] [int] NULL,
	[ID_Existencia] [int] NULL,
	[ID_Seccion] [int] NULL,
	[ID_Formato] [int] NULL,
	[Visible] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro_Editorial]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro_Editorial](
	[ID_Libro] [int] NOT NULL,
	[ID_Editorial] [int] NOT NULL,
 CONSTRAINT [PK_Libro_Editorial] PRIMARY KEY CLUSTERED 
(
	[ID_Libro] ASC,
	[ID_Editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seccion]    Script Date: 11/12/2024 02:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seccion](
	[ID_Seccion] [int] IDENTITY(1,1) NOT NULL,
	[Seccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_Existencia] FOREIGN KEY([ID_Existencia])
REFERENCES [dbo].[Existencia] ([ID_Existencia])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_Existencia]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_Formato] FOREIGN KEY([ID_Formato])
REFERENCES [dbo].[Formato] ([ID_Formato])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_Formato]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_Genero] FOREIGN KEY([ID_Genero])
REFERENCES [dbo].[Genero] ([ID_Genero])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_Genero]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_Seccion] FOREIGN KEY([ID_Seccion])
REFERENCES [dbo].[Seccion] ([ID_Seccion])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_Seccion]
GO
ALTER TABLE [dbo].[Libro_Editorial]  WITH CHECK ADD  CONSTRAINT [FK_Editorial] FOREIGN KEY([ID_Editorial])
REFERENCES [dbo].[Editorial] ([ID_Editorial])
GO
ALTER TABLE [dbo].[Libro_Editorial] CHECK CONSTRAINT [FK_Editorial]
GO
ALTER TABLE [dbo].[Libro_Editorial]  WITH CHECK ADD  CONSTRAINT [FK_Libro] FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[INVENTARIO] ([ID_Libro])
GO
ALTER TABLE [dbo].[Libro_Editorial] CHECK CONSTRAINT [FK_Libro]
GO
USE [master]
GO
